body {
    background: url("up.webp") no-repeat center center fixed;
    background-size: cover;
  }
h1 {
    font-size: 36px;
    font-weight: bold;
    color: palevioletred;
    text-align: center;
    margin-top: 10px;
  }

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 0 rgba(0,0,0,.1);
  }
  
  th, td {
    text-align: center;
    padding: 12px;
    font-size: 16px;
  }
  
  th {
    background-color: #113cd8;
    color: rgb(45, 244, 15);
    border-right: 1px solid #ccc;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #11ebeb;
  }
  
  td {
    border-right: 1px solid #ccc;
  }
  
  th:last-child,
  td:last-child {
    border-right: none;
  }
input[type="text"] {
    font-size: 16px;
    padding: 8px;
    border: 1px solid orange;
    color: blue;
  }  
  ::placeholder {
    color: green;
  } 